@charset 'utf-8';
@import '../color';

#header {
  height: 64px;
  border-bottom: 1px solid rgb(229, 231, 235);

  .wrap-gnb {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 100%;
  }
  .mb-bar {
    display: none;
  }

  .gnb-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      img {
        width: 42px;
        height: 32px;
        vertical-align: middle;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      li:nth-child(n + 1) {
        margin-left: 2rem;
      }
    }
  }

  .gnb-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-join {
      display: inline-block;
      margin-left: 2rem;
    }
  }
}
